<footer  class="page-footer font-small piepagina">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col ">
                <p class="text-center">Isabela Labela 2024 | Todos los derechos reservados</p>
            </div>
        </div>
    </div>

</footer>