{{> header}}

<main>

    {{!--Sobre Nosotros --}}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Sobre Nosotros</h1>
                <p class="lead text-body-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quia
                    deleniti qui cum explicabo dolore quo possimus voluptatibus alias magnam rem dignissimos id sit,
                    quos perferendis, tenetur, quidem nihil molestiae.</p>
                <p>
                    <a href="#1" class="btn btn-secondary my-2">Valores Mision Vision</a>
                    <a href="#2" class="btn btn-secondary my-2">Nuestro Equipo Médico</a>
                </p>
            </div>
        </div>
    </section>

    {{!--Valores --}}
    <section id="1" class="py-5 text-center container">
        <h1 class="fw-light mb-4">Valores Mision y Vision</h1>
        <div class="album bg-body-tertiary">
            <h4></h4>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail Valores</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
                                    enim inventore. A rem quaerat repellat nobis placeat ipsa, facilis incidunt fugit
                                    quos corporis earum ipsam nulla? Praesentium qui suscipit nostrum.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary">mas..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail Mision</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
                                    enim inventore. A rem quaerat repellat nobis placeat ipsa, facilis incidunt fugit
                                    quos corporis earum ipsam nulla? Praesentium qui suscipit nostrum.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary">mas...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail Vision</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
                                    enim inventore. A rem quaerat repellat nobis placeat ipsa, facilis incidunt fugit
                                    quos corporis earum ipsam nulla? Praesentium qui suscipit nostrum.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary">mas...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{!--Nuestro Equipo --}}
    <section id="2" class="py-5 text-center container">
        <h1 class="fw-light mb-4">Nuestro Equipo</h1>
        <div class="album bg-body-tertiary">
            <h4></h4>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail Valores</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
                                    enim inventore. A rem quaerat repellat nobis placeat ipsa, facilis incidunt fugit
                                    quos corporis earum ipsam nulla? Praesentium qui suscipit nostrum.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary">mas..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail Mision</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
                                    enim inventore. A rem quaerat repellat nobis placeat ipsa, facilis incidunt fugit
                                    quos corporis earum ipsam nulla? Praesentium qui suscipit nostrum.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary">mas...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail Vision</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
                                    enim inventore. A rem quaerat repellat nobis placeat ipsa, facilis incidunt fugit
                                    quos corporis earum ipsam nulla? Praesentium qui suscipit nostrum.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary">mas...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{{> footer}}