<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-2 shadow shadow-sm ">
                        <div class="card-header">
                            <h3 class="mb-0">Registro</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" method="post" action="/signup">
                                <div class="form-group row mb-4">
                                    <label for="usuario" class="col-sm-2 col-form-label w-auto p-3">Usuario: </label>
                                    <div class="col-sm-10 ">
                                        <input class="form-control w-auto p-3" id="usuario" type="text"
                                            placeholder="usuario" name="user" required>
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label for="contrasena"
                                        class="col-sm-2 col-form-label w-auto p-3">Contraseña:</label>
                                    <div class="col-sm-10 ">
                                        <input class="form-control w-auto p-3" id="contrasena" type="password"
                                            placeholder="contraseña" name="psw" required>
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label for="email" class="col-sm-2 col-form-label w-auto p-3">Email:</label>
                                    <div class="col-sm-10 ">
                                        <input class="form-control w-auto p-3" id="email" type="text"
                                            placeholder="email" name="email" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row mb-4">
                                    <label for="nombre" class="col-sm-2 col-form-label w-auto p-3">Nombre:</label>
                                    <div class="col-sm-10 ">
                                        <input class="form-control w-auto p-3" id="nombre" type="text"
                                            placeholder="nombre" name="name">
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label for="apellidoPaterno" class="col-sm-2 col-form-label w-auto p-3">Apellido
                                        Paterno:</label>
                                    <div class="col-sm-10 ">
                                        <input class="form-control w-auto p-3" id="apellidoPaterno" type="text"
                                            placeholder="apellido paterno" name="lastname1">
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label for="apellidoMaterno" class="col-sm-2 col-form-label w-auto p-3">Apellido
                                        Materno:</label>
                                    <div class="col-sm-10 ">
                                        <input class="form-contro w-auto p-3" id="apellidoMaterno" type="text"
                                            placeholder="apellido materno" name="lastname2">
                                    </div>
                                </div>

                                <div class="form-group row mb-4">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Registrar</button>
                                    </div>
                                </div>
                            </form>
                            <br>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->