{{> header}}

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Site</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor"
                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Glaucoma</h3>
                <p>El glaucoma es un grupo de enfermedades de los ojos que pueden causar pérdida de visión y ceguera al
                    dañar el nervio ubicado en la parte de atrás del ojo, conocido como nervio óptico. Los síntomas
                    pueden empezar tan lentos que es posible que no los note.</p>
                <a href="/citas-glaucoma" class="btn btn-primary">
                    Pedir Cita
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor"
                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Cornea</h3>
                <p>La córnea es la parte frontal transparente del ojo que cubre el iris, la pupila y la cámara anterior.
                    La córnea, junto con la cámara anterior y el cristalino, refracta la luz. Es responsable de dos
                    terceras partes de la capacidad de refracción del ojo humano.</p>
                <a href="/citas-cornea" class="btn btn-primary">
                    Pedir Cita
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor"
                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                    <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Cataratas</h3>
                <p>Una catarata es cuando el cristalino natural de su ojo se vuelve nubla. Las proteínas en su lente se
                    descomponen y hacen que las cosas se vean borrosas, confusas o menos coloridas. Dentro de los ojos,
                    tenemos un lente natural. El cristalino debe ser transparente.</p>
                <a href="/citas-cataratas" class="btn btn-primary">
                    Pedir Cita
                </a>
            </div>
        </div>
    </div>
</div>


{{> footer}}